<div class="container">
<div class="container-login">
<h1 class="text-center pb-5">講師情報編集</h1>
<%= form_with model: [:admin, @teacher], local: true do |f| %>
   <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :name, "ユーザー名"%>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :avatar, "プロフィール画像"%><br/>
    <%= f.file_field :avatar %>
  </div>
  <div class="form-group">
    <%= f.label :birth_date, "生年月日"%><br/>
    <%= f.date_select(
          :birth_date,          
          use_month_numbers: true,
          start_year:     1930,
          end_year:       (Time.now.year),
          default:        Date.new(1980, 1, 1),
          date_separator: '/')
   %>
  </div>
  <div class="form-group">
    <%= f.label :sex, "性別"%><br/>
    <%= f.label :man , "男性"%>
    <%= f.radio_button :sex, :男性, required: true %>
    <%= f.label :woman, "女性"%>
    <%= f.radio_button :sex, :女性 %>
  </div>
  <div class="form-group">
    <%= f.submit '変更', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
</div>
</div>

