<div class="container">
<div class="container-login">
<h1 class="text-center pb-5">レッスン編集</h1>
<%= form_with(model: @lesson, local: true) do |form| %>
  <!--タイトル -->
  <div class="form-group">
    <%= form.label :title, 'レッスンのタイトル' %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <!--説明 -->
  <div class="form-group">
    <%= form.label :description, 'レッスンの説明' %><br>
    <%= form.text_area :description , rows: '5',class: 'form-control' %>
  </div>
  <!--コース -->
  <div class="form-group">
    <%= form.label :frequency, 'レッスンコース' %>
    <%= form.select :frequency, Lesson.frequencies.keys.to_a, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>
  <!--時間 -->
  <div class="form-group form-row">
    <div class="col-12">
      <%= form.label :time, 'レッスン時間' %><br>
    </div>
    <div class="col-4">
      <%= form.text_field :time , class: 'form-control form-control-sm' %>
    </div>
    <div class="col-2 p-1">分</div>
  </div>
  <!--料金-->
  <div class="form-group form-row">
    <div class="col-12">
    <%= form.label :price, '料金' %><br>
    </div>
    <div class="col-4">
    <%= form.text_field :price , class: 'form-control form-control-sm' %>
    </div>
    <div class="col-2 p-1">
    円
    </div>
  </div>
  <!--イメージ画像-->
  <div class="form-group">
    <%= form.label :lessonImage , 'レッスンのイメージ画像' %><br>
    <%= form.file_field :lessonImage, class: 'form-control-file pb-2' %>
  </div>
  <div class="form-group">
    <%= form.submit '変更', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
</div>
</div>