<div class="container lesson-index-wrap p-2">
<h1 class="text-center p-5">レッスン一覧</h1>
<%= form_with url: lessons_search_path, method: :get, class: 'form-inline justify-content-center', local: true do |form| %>
  <div class="form-group pb-2">
  <%= form.text_field :search, class: 'form-control mr-1' %>
  <%= form.submit '検索', class: "btn btn-primary"%>
<% end %>
</div>
<% if @lessons.present? then %>
    <div class="row">
      <% @lessons.each do |lesson| %>
            <div class="col-sm-4 pt-3 pb-3">
            <%= link_to lesson_path(lesson), style: "text-decoration: none;" do %>
              <div class="card h-100 ">
                    <% if lesson.lessonImage? %>
                          <%= image_tag lesson.lessonImage.url, class: 'card-img-top', height: '300px'%>
                    <% else %>
                        <%= image_tag 'default.png', class: 'card-img-top', alt: 'デフォルトイメージ', height: '300px'%>
                    <% end %>
                <div class="card-body">
                  <h2 class="card-title"><%= lesson.title %></h2>
                  <p class="card-text">講師:<%= lesson.teacher.name %></p>
                  <p class="card-text">価格:<%= lesson.price_i18n %></p>
                </div>
              </div>
            <% end %>
            </div>
      <% end %>
    </div>
  <%= will_paginate @lessons, :previous_label => ' &lt 前へ', :next_label => '次へ &gt', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% else %>
 <p class="text-center">レッスンが見つかりません。</p>
<% end %>
</div>



	