<div class="container">

<div class="container-login">
<h1 class="text-center pb-5">レッスン申請</h1>


<%= form_with scope: :lesson, url: lessons_path, local: true do |form| %>
  <% if @lesson.errors.any? %>
  <div id="error_explanation">
   <div class="alert alert-danger alert-dismissible" role="alert">
    <ul>
    <% @lesson.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
  <% end %>
  <!--タイトル -->
  <div class="form-group">
    <%= form.label :title, 'レッスンのタイトル' %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <!--説明 -->
  <div class="form-group">
    <%= form.label :description, 'レッスンの説明' %><br>
    <%= form.text_area :description , rows: '5',class: 'form-control' %>
  </div>

  <!--コース -->
  <div class="form-group">
    <%= form.label :frequency, 'レッスンコース' %>
    <%= form.select :frequency, Lesson.frequencies.keys.to_a, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>

  <!--時間 -->
  <div class="form-group">
    <%= form.label :time, 'レッスン時間' %>
    <%= form.select :time, Lesson.times.keys.to_a, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>
  <!--料金-->
  <div class="form-group">
    <%= form.label :price, '料金' %>
    <%= form.select :price, Lesson.prices_i18n.keys.map { |k| [Lesson.prices_i18n[k], k]}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>
  
  <!--イメージ画像-->
  <div class="form-group">
    <%= form.label :lessonImage , 'レッスンのイメージ画像' %><br>
    <%= form.file_field :lessonImage, class: 'form-control-file pb-2' %>
  </div>

  <div class="form-group">
    <%= form.submit '申請', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
</div>
</div>