
<div class="container-fluid profile-wrap">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 p-5">
    <h2><%= @teacher.name %></h2>
    <% if @teacher.avatar? %>  <!-- アップロード画像がある場合に実行する -->
      <p>
        <%= image_tag @teacher.avatar.url, class: 'img-fluid' %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
      </p>
    <% end %>
      <p><%= @teacher.sex %></p>
      <p><%= @teacher.age %></p>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<!-- 申請中タブ-->
<div class="container-fluid lesson-wrap pb-5">
  <div class="row lesson-tab">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <ul class="nav nav-tabs nav-justified nav-pills" role="tablist">
      <li class="nav-item border">
        <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">申請手続き中</a>
      </li>
      <li class="nav-item border">
        <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">開講中</a>
      </li>
      <li class="nav-item border">
        <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">終了</a>
      </li>
      </ul>
      <!-- レッスンタブ-->
      <div class="tab-content">
       <!-- 申請中タブ-->
      <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
        <% if @lessons_unapproved.present? then %>
            <% @lessons_unapproved.each do |lesson_unapproved| %>
              <%= link_to lesson_path(lesson_unapproved), style: "text-decoration: none;" do %>
                <div class="row border p-0 m-0">
                <div class="col-sm-7 text-left tab-lesson">
                    <h4><%= lesson_unapproved.title %></h3>
                    <p>料金:<%= converting_to_jpy(lesson_unapproved.price) %></p>
                    <p>申込日:<%= lesson_unapproved.created_at.strftime("%Y-%m-%d") %></p>
                </div>
                <div class="col-sm-5 text-right tab-lesson">
                  <% if lesson_unapproved.lessonImage? then   %>  <!-- アップロード画像がある場合に実行する -->
                    <%= image_tag lesson_unapproved.lessonImage.url, class: "img-fluid img-thumbnail"%>
                  <% else %>
                      <%= image_tag 'default.png', alt: 'デフォルトイメージ', class: "img-fluid img-thumbnail"%>
                  <% end %>
                </div>
                </div>
              <% end %>
            <% end %>
          <%= will_paginate @lessons_unapproved, :previous_label => ' &lt 前へ', :next_label => '次へ &gt', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %> 
        <% else %>
        <div class="col-sm-12 tab-lesson">
          該当のレッスンはございません。
        </div>
        <% end %>
        </div>
        <!-- 開講中タブ-->
        <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
        <% if @lessons_approved.present? then %>
            <% @lessons_approved.each do |lesson_approved| %>
              <%= link_to lesson_path(lesson_approved), style: "text-decoration: none;" do %>
                <div class="row border p-0 m-0">
                <div class="col-sm-7 text-left tab-lesson">
                    <h4><%= lesson_approved.title %></h3>
                    <p>料金:<%= converting_to_jpy(lesson_approved.price) %></p>
                    <p>申込日:<%= lesson_approved.created_at.strftime("%Y-%m-%d") %></p>
                </div>
                <div class="col-sm-5 text-right tab-lesson">
                  <% if lesson_approved.lessonImage? then   %>  <!-- アップロード画像がある場合に実行する -->
                    <%= image_tag lesson_approved.lessonImage.url, class: "img-fluid img-thumbnail"%>
                  <% else %>
                      <%= image_tag 'default.png', alt: 'デフォルトイメージ', class: "img-fluid img-thumbnail"%>
                  <% end %>
                </div>
                </div>
              <% end %>
            <% end %>
          <%= will_paginate @lessons_approved, :previous_label => ' &lt 前へ', :next_label => '次へ &gt', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %> 
        <% else %>
        <div class="col-sm-12 tab-lesson">
          該当のレッスンはございません。
        </div>
        <% end %>
        </div>
        <!-- 終了タブ-->
        <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
        <% if @lessons_finished.present? then %>
            <% @lessons_finished.each do |lesson_finished| %>
              <%= link_to lesson_path(lesson_finished), style: "text-decoration: none;" do %>
                <div class="row border p-0 m-0">
                <div class="col-sm-7 text-left tab-lesson">
                    <h4><%= lesson_finished.title %></h3>
                    <p>料金:<%= converting_to_jpy(lesson_finished.price) %></p>
                    <p>申込日:<%= lesson_finished.created_at.strftime("%Y-%m-%d") %></p>
                </div>
                <div class="col-sm-5 text-right tab-lesson">
                  <% if lesson_finished.lessonImage? then   %>  <!-- アップロード画像がある場合に実行する -->
                    <%= image_tag lesson_finished.lessonImage.url, class: "img-fluid img-thumbnail"%>
                  <% else %>
                      <%= image_tag 'default.png', alt: 'デフォルトイメージ', class: "img-fluid img-thumbnail"%>
                  <% end %>
                </div>
                </div>
              <% end %>
            <% end %>
          <%= will_paginate @lessons_finished, :previous_label => ' &lt 前へ', :next_label => '次へ &gt', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %> 
        <% else %>
        <div class="col-sm-12 tab-lesson">
          該当のレッスンはございません。
        </div>
        <% end %>
        </div>
      </div>
    <div class="col-sm-2"></div>
  </div>
</div>
</div>